- @price = "---" unless @price

.h5= @stock.code
.h2= @stock.name
h1.display-1.m-4.text-center= @price.price

p.text-right= "更新：#{@price.updated_at.in_time_zone("Tokyo")}"
p.text-right= link_to "Bloomberg", "https://www.bloomberg.co.jp/quote/#{@stock.code}:JP"