html {
  font-size: 10px;
  body {
    font-size: 2rem;
    margin: 0;
    a {
      color: blue;
      text-decoration: none;
    }
  }
}

nav {
  background: lightgray;
  display: flex;
  height: 6rem;
  justify-content: space-between;
  opacity: 0.7;
  ul {
    display: flex;
    margin-top: 1.6rem;
    padding-left: 2rem;
    li {
      list-style: none;
      margin-right: 2rem;
    }
  }
  div {
    line-height: 6rem;
    margin-right: 2rem;
  }
}

.container {
  margin: 1rem auto;
}

table {
  margin: auto;
  thead {
    tr {
      th {
        border-bottom: 0.2rem solid lightgray;
        font-size: 1.6rem;
        padding: 1rem 0;
      }
    }
  }
  tbody {
    tr {
      td {
        border-bottom: 0.1rem solid lightgray;
        height: 4rem;
        padding: 0.8rem;
        &.stock_code {
          text-align: center;
        }
        &.stock_name {
          font-size: 1.6rem;
        }
        &.stock_price {
          text-align: right;
        }
        &.stock_change {
          text-align: right;
          &.plus {
            color: seagreen;            
          }
          &.minus {
            color: salmon;
          }
        }
      }
    }
  }
}

section.stock_show {
  margin: auto;
  width: 320px;
  div.stock_head {
    align-items: center;
    display: flex;
    height: 8rem;
    margin: 2.4rem 0;
    p.stock_code {
      margin: 0;
    }
    h1.stock_name {
      font-size: 2.4rem;
      margin: 0 1rem;
    }
  }
  div.stock_main {
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    p.stock_price {
      flex: 3;
      font-size: 6rem;
      margin: 0;
      text-align: end;
    }
    p.stock_change {
      flex: 1;
      margin: 0 0 1rem 1rem;
      &.plus {
        color: seagreen;            
      }
      &.minus {
        color: salmon;
      }
    }
  }
  p.provider {
    margin-top: 6rem;
    text-align: center;
  }
}