@import 'header';
@import 'messages';
@import 'form';
@import 'day_change';
@import 'portfolio_button';
@import 'users';
@import 'stocks';

html {
  font-size: 10px;
  body {
    font-size: 2rem;
    margin: 0;
    li {
      list-style: none;
    }
    a {
      color: blue;
      text-decoration: none;
    }
  }
}

table {
  font-size: 1.6rem;
  margin: auto;
  min-width: 320px;
  caption {
    font-size: 3rem;
    margin: 2rem 0;
  }
  th {
    padding: 1rem 0;
  }
  td {
    border-top: 0.2rem solid silver;
    height: 4rem;
    padding: 0.8rem;
    text-align: center;
    &.user_rank {
      padding: 0.2rem;
    }
    &.user_name {
      padding: 0 0.4rem;
    }
    &.user_total_assets {
      text-align: right;
    }
    &.stock_code {
      text-align: center;
    }
    &.stock_price{
      padding-right: 0.2rem;
      text-align: right;
    }
    &.stock_change {
      font-size: 2rem;
      padding-right: 0.2rem;
      text-align: right;
    }
  }
}