// index
table.stock_index {
  td {
    &.asset_price {
      text-align: right;
    }
    &.asset_change {
      text-align: right;
    }
  }
}

// show
.stock_show {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  margin: 1rem auto;
  text-align: center;
  width: 320px;
  .asset_code {
    grid-column: 1 / 2;
  }
  .asset_name {
    font-size: 2rem;
    grid-column: 2 / 4;
    margin-left: 0.4rem;
    text-align: left;
  }
  .portfolio_form {
    grid-column: 2 / 3;
    height: 6rem;
  }
  .asset_price {
    font-size: 5rem;
    grid-column: 2 / 3;
    margin: 3rem 0;
  }
  .asset_change {
    display: block;
    grid-column: 3 / 4;
    margin-top: 2.4rem;
  }

  .asset_updated_at {
    font-size: 1.6rem;
    grid-column: 2 / 3;
    opacity: 0.8;
  }
  .provider {
    font-size: 1.6rem;
    grid-column: 2 / 3;
    margin-top: 1rem;
    opacity: 0.4;
  }
}