tr.current_user {
  background: beige;
}

.user_portfolio {
  border-top: 0.1rem solid silver;
  font-size: 1.2rem;
  padding: 0.4rem 0.8rem 0;
  ul {
    margin: 0;
    padding: 0;
    li {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.2rem;
      opacity: 0.6;
      .asset_name {
        text-align: left;
        width: 65%;
        a {
          color: black;
        }
      }
      .asset_subtotal {
        font-size: 1.6rem;
        text-align: right;
        width: 30%;
      }
    }
  }
}

caption {
  .user_name {
    margin-bottom: 2rem;
  }
  .user_status {
    display: flex;
    justify-content: space-between;
    width: 24rem;
  }
}

#destroy_container {
  margin: 4rem auto 4rem;
  user-select: none;
  text-align: center;
  #destroy_open {
    cursor: pointer;
    display: block;
    margin-bottom: 4rem;
    opacity: 0.4;
  }
  #destroy_button {
    display: none;
  }
  #destroy_button.open {
    background: red;
    border-radius: 2rem;
    display: block;
    height: 5rem;
    line-height: 5rem;
    margin: 2rem auto;
    opacity: 0.8;
    width: 200px;
    a {
      color: white;
    }
  }
}