// index
table.user_index {
  td {
    &.user_total_assets {
      text-align: right;
    }
    &.user_portfolios {
      border-top: 0.1rem solid silver;
      font-size: 1.2rem;
      ul {
        margin: 0;
        padding: 0;
        li {
          align-items: center;
          display: flex;
          justify-content: space-between;
          margin-bottom: 1.2rem;
          opacity: 0.6;
          .asset_name {
            text-align: left;
            width: 55%;
            a {
              color: black;
            }
          }
          .asset_subtotal {
            font-size: 1.6rem;
            text-align: right;
            width: 30%;
          }
        }
      }
    }
  }
}

// show
div.user_header {
  font-size: 3rem;
  margin: 3rem auto;
  text-align: center;
  width: 500px;
  .user_name {
    margin-bottom: 2rem;
  }
  .user_status {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 24rem;
  }
}

.user_container {
  display: flex;
}


// user_portfolio
table.user_portfolio {
  caption {
    font-size: 2rem;
  }
  td {
    height: 6rem;
  }
  td.stock_code {
    padding-top: 2rem;
    .open_button {
      display: none;
      margin: 1rem auto 1.6rem;
      &.open {
        display: block;
      }
    }
    .close_button {
      display: none;
      margin: 1rem auto 1.6rem;
      &.open {
        display: block;
      }
    }
  }
  td.asset_name {
    font-size: 1.4rem;
    padding-top: 2.4rem;
  }
  td.asset_holding {
    width: 7.6rem;
    .portfolio_holding {
      display: none;
      &.open {
        display: block;
      }
    }
    .portfolio_update {
      display: none;
      &.open {
        display: block;
      }
      .button {
        margin-top: 0.8rem;
      }
    }
  }
  td.asset_subtotal {
    min-width: 7rem;
    text-align: right;
    .portfolio_delete {
      display: none;
      &.open {
        display: block;
      }
      .button {
        margin-top: 1rem;
      }
    }
  }
}

// user_alert
section.user_alert {
  margin: 0 auto;
  width: 500px;
  h1 {
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
  }
  .alert_form {
    display: flex;
    justify-content: space-around;
    margin: 4rem auto;
    #alert_stock_code {
      height: 4.2rem;
      width: 6rem;
    }
    #alert_price {
      font-size: 1.8rem;
      height: 3.6rem;
      width: 8rem;
    }
    .yen {
      line-height: 4.2rem;
    }
    #alert_comparison {
      font-size: 1.4rem;
      height: 4.2rem;
      width: 5rem;
    }
  }
  .alert_list {
    margin-top: 2rem;
    .main_row {
      &.true {
        background: lightgray;
      }
    }
    td {
      padding: 1.6rem 0.2rem;
    }
    .delete_button {
      background: red;
      border: 0.1rem solid;
      border-radius: 0.8rem;
      color: white;
      display: inline-block;
      font-size: 1.4rem;
      height: 3.4rem;
      line-height: 3.4rem;
      opacity: 0.7;
      width: 4.2rem;
    }
  }
}

@media (max-width: 1050px) {
  .user_container {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  div.user_header {
    width: 100%;
  }
  section.user_alert {
    width: 100%;
  }
}

// destroy
#destroy_container {
  margin: 4rem auto 4rem;
  user-select: none;
  text-align: center;
  #destroy_open {
    cursor: pointer;
    display: block;
    margin-bottom: 4rem;
    opacity: 0.4;
  }
  #destroy_button {
    display: none;
  }
  #destroy_button.open {
    background: red;
    border-radius: 2rem;
    display: block;
    height: 5rem;
    line-height: 5rem;
    margin: 2rem auto;
    opacity: 0.8;
    width: 200px;
    a {
      color: white;
    }
  }
}