// index
table.user_index {
  td {
    &.user_total_assets {
      text-align: right;
    }
    &.user_portfolios {
      border-top: 0.1rem solid silver;
      font-size: 1.2rem;
      ul {
        margin: 0;
        padding: 0;
        li {
          align-items: center;
          display: flex;
          justify-content: space-between;
          margin-bottom: 1.2rem;
          opacity: 0.6;
          .asset_name {
            text-align: left;
            width: 55%;
            a {
              color: black;
            }
          }
          .asset_subtotal {
            font-size: 1.6rem;
            text-align: right;
            width: 30%;
          }
        }
      }
    }
  }
}

// show
table.user_show {
  caption {
    .user_name {
      margin-bottom: 2rem;
    }
    .user_status {
      display: flex;
      justify-content: space-between;
      width: 24rem;
    }
  }
  td.stock_code {
    .open_button {
      display: none;
      margin: 0 auto;
      &.open {
        display: block;
      }
    }
    .close_button {
      display: none;
      margin: 0 auto;
      &.open {
        display: block;
      }
    }
  }
  td.asset_name {
    font-size: 1.4rem;
  }
  td.asset_holding {
    width: 7.6rem;
    .portfolio_holding {
      display: none;
      &.open {
        display: block;
      }
    }
    .portfolio_update {
      display: none;
      &.open {
        display: block;
      }
      .button {
        margin-top: 0.8rem;
      }
    }
  }
  td.asset_subtotal {
    min-width: 7rem;
    text-align: right;
    .portfolio_delete {
      display: none;
      text-align: center;
      &.open {
        display: block;
      }
    }
  }
}

#destroy_container {
  margin: 4rem auto 4rem;
  user-select: none;
  text-align: center;
  #destroy_open {
    cursor: pointer;
    display: block;
    margin-bottom: 4rem;
    opacity: 0.4;
  }
  #destroy_button {
    display: none;
  }
  #destroy_button.open {
    background: red;
    border-radius: 2rem;
    display: block;
    height: 5rem;
    line-height: 5rem;
    margin: 2rem auto;
    opacity: 0.8;
    width: 200px;
    a {
      color: white;
    }
  }
}